.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  background-color: #cfebec;
  background-image: linear-gradient(315deg, #4BBBE5 0%, #f5f7fa 74%);
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  grid-column: 1 / span 2;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Space Mono', monospace;
}

#headerTitle {
  font-size: 20px;
  margin-left: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  margin: 5px;
  height: 90%;
  width: 95%;
  border-radius: 20px;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 30%;
}

form textarea {
  width: 50%;
}

nav {
  background-color: #2dbaee4b;
  border-radius: 20px;
  margin: 5px 10px 0px 20px;
  height: 90%;
  padding: 10px;
  overflow: scroll;
}

nav p {
  position: relative;
}

nav p:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4BBBE5;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav p:hover:before {
  visibility: visible;
  width: 100%;
}

article {
  background-color: white;
  border-radius: 20px;
  margin: 5px 20px 0px 20px;
  padding: 10px;
  height: 90%;
}

#reviewContent {
  margin: 40px 40px 0px 20px;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

button {
  background-color: white;
  color: black;
  border-style: 1px white;
  border-radius: 33px;
  max-width: unset;
  margin: 5px;
}

button:active {
  background-color: rgb(180, 180, 180);
  color: white;
  border-color: rgb(180, 180, 180);
}

#cloudGirl {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}